@import "./reset.css";
/* ------------------- */
/*   Header            */
/* ------------------- */


body {
    background-color: #f1f2f3;
}

header {
    height: 56px;
    background-color: #fff;
}

.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 56%;
}

.title h1 {
    font-size: 18px;
    font-weight: 550;
    line-height: 56px;
    font-family: "Roboto", sans-serif;
    color: rgb(10, 10, 10);
    letter-spacing: 0.2px;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 17px;
    color: rgb(3, 3, 3);
    font-weight: 525;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro W3, Hiragino Kaku Gothic Pro, sans-serif !important;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li+li {
    margin-left: 18px;
}

/* --------------- */
/* Section          */
/* --------------- */
.banner {
    background: url(../img/editedBanner.jpg) center center / cover no-repeat;
    height: 100vh;
    color: #fff;
}

.overlay {
    min-height: 100vh;
    background-color: rgb(20 24 28/0.4);
    text-align: center;
    display: grid;
    align-items: center;
    flex-direction: column;
}

.banner-text {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

section.hero-banner {
    height: 100vh;
}

.map-main-box {
    height: calc(100vh - 65px);
    width: 100%;
    place-items: center;
    display: grid;
}

.map-style {
    background-color: rgb(226, 220, 220);
    width: 80%;
    height: 400px;
    /* background-color: #66bacf; */

}

.mapboxgl-ctrl-logo {
   visibility: hidden;
}

/* -------------------------- */
/* Media queries              */
/* -------------------------- */
/*  1280 px and down */
@media (max-width: 1681) {

    .btn {
        font-size: 11px;
    }
}

/*  768 px and down */
@media (max-width: 768px) {

    .column {
        width: calc(50% - 10px);
    }

    .btn {
        font-size: 10px;
    }

    nav ul li a {
        font-size: 14px;
    }

}

/*  480 px and down */
@media (max-width: 480px) {
    .column {
        width: 100%;
    }

    .title {
        font-size: 16px;
    }

    nav ul li a {
        font-size: 14px;
    }

}

@media (max-width: 360px) {

    nav ul li a {
        font-size: 12px;
    }


}

/* --------------- */
/* footer          */
/* --------------- */

.flexbox {
    display: flex;
}

footer {
    height: 65px;
    background-color: #fff;
}

div .icons {
    width: 50%;
    text-align: left;
}

div .icons ul {
    list-style: none;
}

div .icons ul li {
    display: inline;
    line-height: 66px;
    cursor: default;
}

div .icons ul li a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.icons li {
    border-radius: 50%;
    padding: 6px;
}

.icons ul li+li {
    margin-left: 10px;
}

.fb {
    color: #3b5998;
}

.twitter {
    color: #00acee;
}

.google {
    color: #4285F4;
}

.copy {
    width: 50%;
    height: 56%;
}

.copy p {
    font-size: 17px;
    text-align: right;
    font-weight: 450;
    line-height: 66px;
    color: #000;
    letter-spacing: 0.2px;
}